body {
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ridimensionamento del Contenitore Generale */
.resize {
    width: 700px;
}

/* Hover sulla Navbar */
.nav-link:hover {
    background-color: brown;
}

/* Contenuto della Section */
.content {
    flex: 1;
}

/* Caratteristiche del testo del Footer */
.font-footer {
    font-size: small;
}

/* Card */
.card {
    /* background-color: beige; */
    max-width: 90%;
}

/* Immagine della Card */
.card-img-top {
    width: 145px;
    height: 100px;
}

/* Font degli h2, cioè i titol che rappresentano le sezioni del menù */

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Frecce per il funzionamento del Collapse dell'Accordion (sul Menù) */
.accordion-button::after {
    content: '\e072'; /* Icona freccia verso il basso */
    color: white; /* Cambia il colore dell'icona */
}

.accordion-button.collapsed::after {
    content: '\e08e'; /* Icona freccia verso destra */
    color: white; /* Cambia il colore dell'icona */
}

/* Sezione centrale della Home */
.home-section-bg {
    background-color: white;
    padding: 35px;
    border: 1px solid black;
}

/* Form */
form {
    background-color: white;
    padding: 35px 50px;
    border: 1px solid black;
}

/* Link Sotto ai Form di Login e Registrazione */
.link-login-register {
    text-decoration: none;
}

/* Icone Social */
.fa {
    font-size: 30px;
    margin: 5px 10px;
    text-decoration: none;
}
.fa:hover {
    color: rgb(206, 69, 69) !important;
}


/* CHAT */

.container-chat {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 8px 8px #ccc;
}
/* Stile del contenitore principale della chat. Specifica la larghezza massima, il margine esterno e il padding interno */

.chat-window {
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Stile della finestra della chat. Imposta il bordo e la bordatura arrotondata */

.chat-header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
/* Stile dell'intestazione della chat. Imposta il colore di sfondo, il padding interno e l'allineamento del testo al centro */

.chat-body {
    padding: 10px;
    background-color: #ccc;
}
/* Stile del corpo della chat. Imposta il padding interno */

.message {
    margin-bottom: 10px;
}
/* Stile di ogni singolo messaggio nella chat. Imposta il margine inferiore per separare i messaggi */

.message-sender {
    font-weight: bold;
}
/* Stile del mittente del messaggio. Imposta il grassetto */

.message-content {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}
/* Stile del contenuto del messaggio. Imposta il colore di sfondo, il padding interno e la bordatura arrotondata */

.chat-footer {
    padding: 10px;
    display: flex;
    background-color: #ccc;
}
/* Stile del piè di pagina della chat. Imposta il padding interno e il layout flex */

#message-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Stile dell'input del messaggio. Imposta il crescimento flessibile all'interno del layout flex, il padding interno, il bordo e la bordatura arrotondata */

#send-button {
    margin-left: 10px;
    padding: 5px 10px;
}
/* Stile del pulsante di invio del messaggio. Imposta il margine sinistro, il padding interno */