body {
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ridimensionamento del Contenitore Generale */
.resize {
    width: 700px;
}

/* Hover sulla Navbar */
.nav-link:hover {
    background-color: brown;
}

/* Contenuto della Section */
.content {
    flex: 1;
}

/* Caratteristiche del testo del Footer */
.font-footer {
    font-size: small;
}

/* Card */
.card {
    background-color: beige;
}

/* Font degli h2, cioè i titol che rappresentano le sezioni del menù */

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}